NodeRED.json
[{"id":"7ccc4147.2329f","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5266a4c7.c2e73c","type":"http in","z":"7ccc4147.2329f","name":"","url":"/demo","method":"get","upload":false,"swaggerDoc":"","x":500,"y":320,"wires":[["3d3ab249.1d1b9e"]]},{"id":"aaa9b829.b578c8","type":"http response","z":"7ccc4147.2329f","name":"","statusCode":"","headers":{},"x":1090,"y":320,"wires":[]},{"id":"3d3ab249.1d1b9e","type":"cloudant in","z":"7ccc4147.2329f","name":"","cloudant":"","database":"data","service":"HotShotCodathon-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":670,"y":320,"wires":[["751e8369.d91a9c"]]},{"id":"646b8481.6d7ebc","type":"inject","z":"7ccc4147.2329f","name":"","topic":"","payload":"select * from x ","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":490,"y":460,"wires":[["3e4b181c.725998"]]},{"id":"ae16203d.07a09","type":"debug","z":"7ccc4147.2329f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload[0].data","targetType":"msg","x":1140,"y":460,"wires":[]},{"id":"751e8369.d91a9c","type":"function","z":"7ccc4147.2329f","name":"Generate HTML","func":"/*\n`msg.payload[0].data` would be populated with the\ndata taken from the cloudant database.\nFor example, the data looks like this\nwhen stored in the NoSQL table:\n[\n    {\n      \"id\": 0,\n      \"latitude\": 34.423167,\n      \"longitude\": -110.659353,\n      \"temperature\": 100.04,\n      \"co2Concentration\": 400.45\n    },\n    {\n      \"id\": 1,\n      \"latitude\": 34.513759,\n      \"longitude\": -110.486968,\n      \"temperature\": 101.24,\n      \"co2Concentration\": 400.51\n    },\n    {\n      \"id\": 2,\n      \"latitude\": 34.315896,\n      \"longitude\": -110.481359,\n      \"temperature\": 101.99,\n      \"co2Concentration\": 400.12\n    },\n    {\n      \"id\": 3,\n      \"latitude\": 34.481536,\n      \"longitude\": -110.887495,\n      \"temperature\": 102.53,\n      \"co2Concentration\": 401.06\n    },\n    {\n      \"id\": 4,\n      \"latitude\": 34.983815,\n      \"longitude\": -110.784582,\n      \"temperature\": 99.97,\n      \"co2Concentration\": 400.23\n    },\n    {\n      \"id\": 5,\n      \"latitude\": 34.312548,\n      \"longitude\": -110.685195,\n      \"temperature\": 105.42,\n      \"co2Concentration\": 399.98\n    },\n    {\n      \"id\": 6,\n      \"latitude\": 34.619854,\n      \"longitude\": -110.215458,\n      \"temperature\": 1200.65,\n      \"co2Concentration\": 425.92\n    }\n]\n*/\n\nmsg.payload=`\n<style type=\"text/css\">\n.tg  {border-collapse:collapse;border-spacing:0;}\n.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}\n.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}\n.tg .tg-0lax{text-align:left;vertical-align:top}\n</style>\n<script>\nvar data = `+JSON.stringify(msg.payload[0].data)+`;\n\nfunction buildHtmlTable(selector) {\n  var columns = addAllColumnHeaders(data, selector);\n\n  for (var i = 0; i < data.length; i++) {\n    var row$ = $('<tr/>');\n    for (var colIndex = 0; colIndex < columns.length; colIndex++) {\n      var cellValue = data[i][columns[colIndex]];\n      if (cellValue == null) cellValue = \"\";\n      row$.append($('<td/>').html(cellValue));\n    }\n    $(selector).append(row$);\n  }\n}\n\n// Adds a header row to the table and returns the set of columns.\n// Need to do union of keys from all records as some records may not contain\n// all records.\nfunction addAllColumnHeaders(data, selector) {\n  var columnSet = [];\n  var headerTr$ = $('<tr/>');\n\n  for (var i = 0; i < data.length; i++) {\n    var rowHash = data[i];\n    for (var key in rowHash) {\n      if ($.inArray(key, columnSet) == -1) {\n        columnSet.push(key);\n        headerTr$.append($('<th/>').html(key));\n      }\n    }\n  }\n  $(selector).append(headerTr$);\n\n  return columnSet;\n}\n</script>\n<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js\"></script>\n\n<body onLoad=\"buildHtmlTable('#data')\">\n    <center>\n    <h1>Hotshot PIG Data</h1>\n    <table id=\"data\" class=\"tg\">\n    </table>\n    </center>\n</body>\n`\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":320,"wires":[["aaa9b829.b578c8"]]},{"id":"3e4b181c.725998","type":"cloudant in","z":"7ccc4147.2329f","name":"","cloudant":"","database":"data","service":"HotShotCodathon-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":670,"y":460,"wires":[["ae16203d.07a09"]]}]